</div>
<!-- /.container -->


<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/vendor/video.js"></script>
<script src="/javascripts/flat-ui.min.js"></script>

</body>
</html>
