<% include partials/header.ejs %>
<div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6 well">
    <form class="form">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Company Name" />
        </div>
        <div class="form-group">
            <label for="address">Name:</label>
            <input type="text" class="form-control" name="address" id="address" placeholder="Address" />
        </div>
        <div class="form-group">
            <label for="city">Name:</label>
            <input type="text" class="form-control" name="city" id="city" placeholder="City" />
        </div>
        <div class="form-group">
            <label for="state">Name:</label>
            <input type="text" class="form-control" name="state" id="state" placeholder="State" />
        </div>
        <div class="form-group">
            <label for="postal">Name:</label>
            <input type="text" class="form-control" name="postal" id="postal" placeholder="Postal" />
        </div>
        <div class="form-group">
            <label for="phoneNumber">Name:</label>
            <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" placeholder="Phone Number" />
        </div>
        <div class="pull-right">
            <button class="btn btn-primary" id="save-button">Save</button>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
<script type="text/javascript">
    $(function() {
        $.ajax({
            url: '/api/carriers/' + '<%= id %>',
            success: function (data) {
                $('#name').val(data.name);
                $('#address').val(data.address);
                $('#city').val(data.city);
                $('#state').val(data.state);
                $('#postal').val(data.zip);
                $('#phoneNumber').val(data.phoneNum);
            }
        });
    });

    $('#save-button').on('click', function(e) {
        e.preventDefault();
        var carrier = {
            "name": $('#name').val(),
            "address": $('#address').val(),
            "city": $('#city').val(),
            "state": $('#state').val(),
            "zip": $('#postal').val(),
            "phoneNum": $('#phoneNumber').val(),
        };
        $.ajax({
            url: '/api/carriers/' + '<%= id %>',
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(carrier),
            success: function(data) {
                window.location = '/carriers/' + '<%= id %>';
            }
        });
    });
</script>
<% include partials/footer.ejs %>