<% include partials/header.ejs %>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well">
    <div class="pull-right">
        <a href="/carriers/new" class="btn btn-success"><i class="fa fa-plus"></i> Add New Carrier</a>
    </div>
    <div class="clearfix"></div>
    <table class="table table-striped" id="carriers">
        <thead>
        <tr>
            <th>Name</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<script type="text/javascript">
    function deleteCarrier(carrierId) {
        $.ajax({
            url: '/api/carriers/' + carrierId,
            type: 'DELETE',
            contentType: 'application/json',
            success: function(data) {
                window.location = '/carriers';
            }
        });
    }

    $(function() {
        $.ajax({
            url: '/api/carriers/list',
            success: function(data) {
                for(var i = 0; i < data.length; ++i) {
                    $('#carriers > tbody:last-child').append(
                            '<tr><td><a href="/carriers/' + data[i]._id + '">' + data[i].name + '</a></td><td><a class="btn btn-danger" href="javascript: deleteCarrier(\'' + data[i]._id + '\');"><i class="fa fa-trash"></i> Delete</a></td></tr>'
                    );
                }
                $('#carriers').DataTable();
            }
        });
    });
</script>
<% include partials/footer.ejs %>