<% include partials/header.ejs %>
<div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6 well">
    <form class="form">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Company Name" />
        </div>
        <div class="pull-right">
            <button class="btn btn-primary" id="save-button">Save</button>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
<script type="text/javascript">
    $(function() {
        $.ajax({
            url: '/api/clients/' + '<%= id %>',
            success: function (data) {
                $('#name').val(data.name);
            }
        });
    });

    $('#save-button').on('click', function(e) {
        e.preventDefault();
        var client = {
            "name": $('#name').val()
        };
        $.ajax({
            url: '/api/clients/' + '<%= id %>',
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(client),
            success: function(data) {
                window.location = '/clients/' + '<%= id %>';
            }
        });
    });
</script>
<% include partials/footer.ejs %>