<% include partials/header.ejs %>
<% if(session && session.user) { %>
<div class="hidden-xs hidden-sm">
    <!-- Larger Screens -->
        <div class="col-lg-4 col-md-4 well">
            <table id="carriers" class="table table-striped">
                <thead>
                    <tr><th>Carrier Name</th><th>Rating</th></tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="col-lg-8 col-md-8" style="background-color: #34495e">
            <div id="carrierInfo" style="color: #eeeeee">
                <h6>Carrier Information</h6>
                <div id="carrierName"></div>
                <div id="carrierAddress"></div>
                <div id="carrierCity"></div>
                <div id="average"></div>
            </div>
            <div class="spacer"></div>
            <table id="comments" class="table table-striped well">
                <thead>
                    <tr><th>Commenter</th><th>Rating</th><th>Comment</th></tr>
                </thead>
                <tbody>
                    <!--<tr>-->
                        <!--<td class="commentor">Billy Joe</td>-->
                        <!--<td class="commentRating">****</td>-->
                        <!--<td class="commentText">Fred is a swell guy. He got me my load of bits right when he said it'd be here.</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td class="commentor">Billy Bob</td>-->
                        <!--<td class="commentRating">***</td>-->
                        <!--<td class="commentText">No Gord mafren. He got me my load of bits right when he said it'd be here.</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td class="commentor">Billy Joe</td>-->
                        <!--<td class="commentRating">****</td>-->
                        <!--<td class="commentText">Fred is a swell guy. He got me my load of bits right when he said it'd be here.</td>-->
                    <!--</tr>-->
                </tbody>
            </table>
        </div>
</div>
<div class="hidden-lg hidden-md">
    <div class="col-xs-12 col-sm-12 well">
        <h6>Carriers</h6>
        <table id="mobile_carriers" class="table table-striped">
            <thead>
                <tr><th>Carrier Name</th><th>Carrier Name</th></tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $.ajax({
            url: '/api/carriers/list',
            type: 'GET',
            success: function(data) {
                for (var i = 0; i < data.length; ++i) {
                    $('#carriers > tbody:last-child').append(
                            '<tr><td><a onclick="getCarrierComments(\'' + data[i]._id + '\')">' + data[i].name + '</a></td><td>' + data[i].averageRating + '</td></tr>'
                    );
                    $('#mobile_carriers > tbody:last-child').append(
                            '<tr><td><a href="/carrier_comments/' + data[i]._id + '">' + data[i].name + '</a></td><td>' + data[i].averageRating + '</td></tr>'
                    );
                }
                $('#carriers').DataTable();
                $('#mobile_carriers').DataTable();
                $('#comments').DataTable();
            }
        });
    });

    function getCarrierComments(id) {
        var carrier = null;
        $.ajax({
            url: '/api/carriers/' + id,
            type: 'GET',
            success: function(data) {
                carrier = data;
                $('#carrierName').text(data.name);
                $('#carrierAddress').text(data.address);
                $('#carrierCity').text(data.city + ' ' + data.state + ' ' + data.zip);
                $("#comments tbody tr").remove();
                $.ajax({
                    url: '/api/comments/list/' + id,
                    type: 'GET',
                    success: function(data) {
                        for (var i = 0; i < data.length; ++i) {
                            $('#comments > tbody:last-child').append(
                                    '<tr>' +
                                    '<td class="commentor">' + data[i].userName + '</td>' +
                                    '<td class="commentRating">' + data[i].rating + '</td>' +
                                    '<td class="commentText">' + data[i].text + '</td>' +
                                    '</tr>'
                            );
                            $('#comments').DataTable();
                        }
                        var averageRating = "N/A";
                        if (data.length > 0) {
                            averageRating = carrier.averageRating;
                        }
                        $('#average').text("Average Rating: " + averageRating);
                    }
                });
            }
        });
    }
</script>
<% } %>
<% include partials/footer.ejs %>