<% include partials/header.ejs %>
<% if(session && session.user) { %>
<div class="hidden-xs hidden-sm">
    <!-- Larger Screens -->
        <div class="col-lg-3 col-md-3 well">
            <h6>Carriers</h6>
            <table id="carriers" class="table table-striped">
                <thead>
                    <tr><th>Carrier Name</th></tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="col-lg-9 col-md-9">
            <h6>Comments</h6>
            
        </div>
</div>
<div class="hidden-lg hidden-md">
    <div class="col-xs-12 col-sm-12 well">
        <h6>Carriers</h6>
        <table id="mobile_carriers" class="table table-striped">
            <thead>
                <tr><th>Carrier Name</th></tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $.ajax({
            url: '/api/carriers/list',
            type: 'GET',
            success: function(data) {
                for(var i = 0; i < data.length; ++i) {
                    $('#carriers > tbody:last-child').append(
                            '<tr><td><a href="/carriers/' + data[i]._id + '">' + data[i].name + '</a></td></tr>'
                    );
                    $('#mobile_carriers > tbody:last-child').append(
                            '<tr><td><a href="/carrier_comments/' + data[i]._id + '">' + data[i].name + '</a></td></tr>'
                    );
                }
            }
        });
    });
</script>
<% } %>
<% include partials/footer.ejs %>