<% include partials/header.ejs %>

<div class="loginForm">
    <form action="login" method="post">
        <div id="loginUsername">
            <input type="text" id="hackusername" placeholder="username" />
        </div>
        <div id="loginPassword">
            <input type="password" id="hackpassword" placeholder="password" />
        </div>
        <div id="loginSubmit">
            <input type="submit" id="submit" />
        </div>
    </form>
</div>

<% include partials/footer.ejs %>