<% include partials/header.ejs %>
    <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4 well">
        <form class="form">
            <div class="form-group">
                <label for="name">Name:</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Full Name" />
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email Address:</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                    <input type="text" class="form-control" name="email" id="email" placeholder="user@domain.com" />
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" />
                </div>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirmation:</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                    <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm Password" />
                </div>
            </div>
            <div class="form-group">
                <label>Select your company type:</label>
                <select class="form-control" name="type" id="type">
                    <option value="0">Select an option...</option>
                    <option value="1">I want to ship stuff...</option>
                    <option value="2">I want to carry stuff...</option>
                </select>
            </div>
            <div class="carrier">
                <div class="form-group">
                    <label for="carrier">Company Name:</label>
                    <select name="carrier" id="carrier" class="form-control"></select>
                    <div class="input-group carrier_name_group">
                        <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                        <input type="text" name="client_name" id="carrier_name" class="form-control" placeholder="Company Name"/>
                    </div>
                </div>
            </div>
            <div class="client">
                <div class="form-group">
                    <label for="client">Company Name:</label>
                    <select name="client" id="client" class="form-control"></select>
                    <div class="input-group client_name_group">
                        <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                        <input type="text" name="client_name" id="client_name" class="form-control" placeholder="Company Name"/>
                    </div>
                </div>
            </div>
            <div class="pull-left">
                <a href="/login" class="btn btn-info"><i class="fa fa-sign-in"></i> Login</a>
            </div>
            <div class="pull-right">
                <button class="btn btn-primary" id="signup-button"><i class="fa fa-user-plus"></i> Sign Up</button>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
    <script type="text/javascript">
        $('#type').on('change', function() {
            if(this.value == '0') {
                $('.carrier').hide();
                $('.client').hide();
            } else if (this.value == '1') {
                $('.carrier').hide();
                $('.client').show();
            } else if (this.value == '2') {
                $('.carrier').show();
                $('.client').hide();
            }
        });
        $('#carrier').on('change', function() {
            if(this.value == 'other') {
                $('#carrier_name_group').show();
            } else {
                $('#carrier_name_group').hide();
            }
        });
        $('#client').on('change', function() {
            if(this.value == 'other') {
                $('#client_name_group').show();
            } else {
                $('#client_name_group').hide();
            }
        });
        $('#signup-button').on('click', function(e) {
            e.preventDefault();
            if($('#type').val() == '0') {
                alert("You must select whether you are a carrier or a shipper.");
                return;
            }
            if($('password').val() != $('confirm_password').val()) {
                alert("Password and confirmation do not match.");
                return;
            }
            var user = {
                "name": $('#name').val(),
                "email": $('#email').val(),
                "password": $('#password').val()
            };
            if($('#type').val() == '1') {
                user.role = 'client';
                if($('#type').val() == '1' && $('#client').val() != 'other') {
                    user.clientId = $('#client').val();
                }
            } else {
                user.role = 'carrier';
                if($('#type').val() == '2' && $('#client').val() != 'other') {
                    user.carrierId = $('#carrier').val();
                }
            }
            saveUser(user, function(data) {
                user = data;
                if($('#type').val() == '1' && $('#client').val() == 'other') {
                    var client = {
                        "name": $('#client_name').val()
                    };
                    saveClient(client, function(data) {
                        user.clientId = data._id;
                        updateUser(user, function(data) {
                            window.location = '/';
                        });
                    });
                } else if($('#type').val() == '2' && $('#carrier').val() == 'other') {
                    var carrier = {
                        "name": $('#carrier_name').val()
                    };
                    saveCarrier(carrier, function(data) {
                        user.carrierId = data._id;
                        updateUser(user, function(data) {
                            window.location = '/';
                        });
                    });
                } else {
                    window.location = '/';
                }
            });
        });
        $('#carrier_name_group').hide();
        $('#client_name_group').hide();
        $('.carrier').hide();
        $('.client').hide();

        function saveUser(user, callback) {
            $.ajax({
                url: '/api/users',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(user),
                success: function(data) {
                    callback(data);
                }
            });
        }

        function saveCarrier(carrier, callback) {
            $.ajax({
                url: '/api/carriers',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(carrier),
                success: function(data) {
                    callback(data);
                }
            });
        }

        function saveClient(client, callback) {
            $.ajax({
                url: '/api/clients',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(client),
                success: function(data) {
                    callback(data);
                }
            });
        }

        function updateUser(user, callback) {
            $.ajax({
                url: '/api/users/' + user._id,
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(user),
                success: function (data) {
                    callback(data);
                }
            });
        }

        $(function() {
            $.ajax({
                url: '/api/clients/list',
                success: function(data) {
                    for(var i = 0; i < data.length; ++i) {
                        $('#client').append($('<option>', {
                            value: data[i]._id,
                            text: data[i].name
                        }));
                    }
                    if(data.length == 0) {
                        $('#client_name_group').show();
                    }
                    $('#client').append($('<option>', {
                        value: 'other',
                        text: 'other'
                    }));
                }
            });
            $.ajax({
                url: '/api/carriers/list',
                success: function(data) {
                    for(var i = 0; i < data.length; ++i) {
                        $('#carrier').append($('<option>', {
                            value: data[i]._id,
                            text: data[i].name
                        }));
                    }
                    if(data.length == 0) {
                        $('#carrier_name_group').show();
                    }
                    $('#carrier').append($('<option>', {
                        value: 'other',
                        text: 'other'
                    }));
                }
            });
        });
    </script>
<% include partials/footer.ejs %>