<% include partials/header.ejs %>
    <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6 well">
        <form class="form">
            <div class="form-group">
                <label for="name">Name:</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Full Name" />
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email Address:</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                    <input type="text" class="form-control" name="email" id="email" placeholder="user@domain.com" />
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" />
                </div>
            </div>
            <div class="form-group">
                <label>Role:</label>
                <select class="form-control" name="role" id="role">
                    <option value="admin">admin</option>
                    <option value="client">client</option>
                    <option value="carrier">carrier</option>
                </select>
            </div>
            <div class="carrier">
                <div class="form-group">
                    <label for="carrier">Carrier Company Name:</label>
                    <select name="carrier" id="carrier" class="form-control"></select>
                </div>
            </div>
            <div class="client">
                <div class="form-group">
                    <label for="client">Client Company Name:</label>
                    <select name="client" id="client" class="form-control"></select>
                </div>
            </div>
            <div class="pull-right">
                <button class="btn btn-primary" id="save-button"><i class="fa fa-save"></i> Save</button>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
    <script type="text/javascript">
        $(function() {
            $.ajax({
                url: '/api/clients/list',
                success: function(data) {
                    for(var i = 0; i < data.length; ++i) {
                        $('#client').append($('<option>', {
                            value: data[i]._id,
                            text: data[i].name
                        }));
                    }
                    $.ajax({
                        url: '/api/carriers/list',
                        success: function(data) {
                            for(var i = 0; i < data.length; ++i) {
                                $('#carrier').append($('<option>', {
                                    value: data[i]._id,
                                    text: data[i].name
                                }));
                            }
                            $.ajax({
                                url: '/api/users/' + '<%= id %>',
                                success: function(data) {
                                    $('#name').val(data.name);
                                    $('#email').val(data.email);
                                    $('#password').val(data.password);
                                    $('#role').val(data.role);
                                    if(data.clientId) {
                                        $('#client').val(data.clientId);
                                    }
                                    if(data.carrierId) {
                                        $('#carrier').val(data.carrierId);
                                    }
                                }
                            });
                        }
                    });
                }
            });
        });

        $('#save-button').on('click', function(e) {
            e.preventDefault();
            var user = {
                "name": $('#name').val(),
                "email": $('#email').val(),
                "password": $('#password').val(),
                "role": $('#role').val(),
                "clientId": $('#client').val(),
                "carrierId": $('#carrier').val()
            };
            $.ajax({
                url: '/api/users/' + '<%= id %>',
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(user),
                success: function(data) {
                    window.location = '/users/' + '<%= id %>';
                }
            });
        });
    </script>
<% include partials/footer.ejs %>